@import "./_variables.scss";

:root {
    background-color: $background;
}

.homeContainer {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10vh;
    min-height: 70vh;
    z-index: 10;

    & > h1 {
        width: 100%;
        margin: 20px;
        text-align: center;
        font-size: 4rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}
