@import "./_variables.scss";

$transition-mode: 0.15s ease-in-out;
.powerCard {
    transition: all $transition-mode;

    position: relative;
    left: 0;
    top: 0;

    text-align: center;
    font-weight: 700;
    color: $foreground;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .powerTitle {
        font-size: 2rem;
    }

    & .smallTitle {
        font-size: 1.25rem;
    }

    border-width: 3px;
    border-color: $foreground;
    border-radius: 5px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 5px;

        z-index: -1;

        background-color: black;
        background-image: radial-gradient($background 10%, transparent 11%);
        background-size: 20px 20px;
        background-position: 0 0, 30px 30px;
        background-repeat: repeat;

        transition: all $transition-mode;
    }

}

.detach {
    position: relative;
    left: 0;
    top: 0;
    &:hover {
        left: -15px;
        top: -15px;

        &::before {
            left: 15px;
            top: 15px;
        }
    }
}